<!DOCTYPE html>
<html lang="en">
 <head><title>CARS</title>
 <link rel="stylesheet" type="text/css" href="mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="myscript.js"></script>
 </head>
 <body>
   <h1>CARS HOME</h1>
    <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CARS DATA</a>
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="page1.html">PAGE 1</a></li>
            <li><a href="page2.html">PAGE 2</a></li>
			<li><a href="page3.html">PAGE 3</a></li>
   <p>
     In this data set for each type of car the data shows engine information, whether or not it is hybrid, number of forward gears, driveline,
Identification of the car, the dimensions of the car, and lastly the fuel information. The entire data set is identifying
specific cars and basically telling you almost any basic thing you want to know about them like the engine type or the mpg
in the city or on the highway. The significance of this data is that if you just bought a used car from about 2011 or 2012
and the car is on this list you could learn valuable information about the car you have just purchased. You could also use
this information to find a car that you want based on the information the data shows. 
    <p>
     <p>
     How are miles per gallon found in these cars? In these cars miles per gallon are found by say, driving one mile and just seeing
how many gallons it took to get there, or just driving for as long as you want and then dividing the miles traveled by the amount
of gas taken to refill your gas tank to where it was before. These are the easiest ways to find out the miles per gallon in your
car and see how much it costs you to drive every day.
    <p>
     <p>
     How is the engine type and transmission type information found for these vehicles? I assume that someone researched all these
transmission types of just programed code to look through the internet to find cars that are a specific year and all the basic
information about them. If done by hand this information would be very hard to compile especially because of how frequently the
internet does not know exactly what you're looking for.
   </p>
  <img src="http://mcleod805.github.io/Corgis-Data-1/Stingray Corvette.jpg" style="width:506px;height:340px;">
 </body>
</html>
